{% extends '../base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<br><br>
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Login Now">
</form>
{% endblock %}