{% extends '../base.html' %}

{% block title %}
Register User
{% endblock %}

{% block content %}
<br><br>
<div class="row">
  <div class="container">
    <form action="{% url 'register-user' %}" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Register User">
    </form>
  </div>
</div>
{% endblock %}