{% extends '../base.html' %}


{% block title %}
Upload Resume
{% endblock %}

{% block content %}
<br><br>
<form action="{% url 'upload-resume' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Upload Resume">
</form>
{% endblock %}