{% extends './base.html' %}

{% block title %}
Display {{task.id}}
{% endblock %}

{% block content %}
  <br><br>
  <h1> <strong>{{task.id}}.</strong> {{task.text}}</h1>
  {% if task.is_completed %}
    <a href="{% url 'delete-task' task.id %}" class="btn btn-danger mt-4">Delete Task</a>
  {% else %}
    <p>Complete the task first.</p>
  {% endif %}
  <a href="{% url 'update-task' task.id %}" type="button" class="btn btn-info mt-4">Update Task</a>
{% endblock %}