{% extends './base.html' %}


{% block title %}Home Page{% endblock %}

{% block content %}
<br><br>
<div class="row">
  <div class="col">
    {% if user.is_authenticated %}
    <table class="table table-dark table-hover" style="border-radius: 5px; overflow:hidden;">
      <thead class="">
        <tr class="">
          <th class="p-2">ID</th>
          <th>Task</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <th scope="row">{{task.id}}</th>
          <td>
            <a 
              class="text-decoration-none text-white"
              href="{% url 'task' task.id %}"
            >
              {{task.text}}
            </a>
          </td>
          <td>{{task.is_completed}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>Naaah! <a href="{% url 'login' %}">Login</a> First. </h1>
    {% endif %}
  </div>
</div>
<!-- A form to add task. -->
<form class="p-4 bg-dark" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-white">Enter the task to add.</label>
    <input type="text" name="task" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" name="completed" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label text-white" for="exampleCheck1">Completed.</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="{% url 'login-view' %}" method="post" class="container p-4">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit Form" class="btn btn-danger">
</form>

{% endblock %}