{% extends './base.html' %}

{% block title %}Update ID {{task.id}}{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <h1>Update the Task.</h1>
  <form action="{% url 'update-task' task.id %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update Task" class="btn btn-primary">
  </form>
</div>
{% endblock %}